*{
    margin-bottom: 0px;
    padding: 0px;
}


.nav-conteiner{
    display: flex;
    min-width: 50px;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    gap: 10px;
    padding-left: 40px;
    
}
.logo img{
    width: 75px;
    height: 35px;
  
    object-fit: cover;
}
.logo h3{
    font-size: 30px;
height: 50px;
margin-top: 0px;
font-family: Work Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.span{
    color: rgb(230, 58, 152);
}


.nav-item{
   display: flex;
    list-style: none;
   gap: 15px;
   font-size: 18px;
   color: #3C354F;

}

/*banner-section*/

.banner-section{
    width: auto;

    height: 500px;
    background-image: url("../images/Group\ 14.png");
    display: flex;
    justify-content: space-between;

    align-items: center;

}
.right img{
    height: 500px;
    width: 450px;
    
}
.left h3{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}

.left h1{
font-family: Work Sans;
font-size: 80px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.left{
    padding-left: 200px;
    
    }


.in{
    display: inline-flex;
padding: 15px 30px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: 0px;
}

.go{
    display: inline-flex;
padding: 15px 30px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
border: 0px;
}

/*second-part*/
.second-part{
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.second-img{
    width: 600px;
height: 400px;
flex-shrink: 0;

}
.second-tittle h1{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.second-tittle p{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.second-tittle h4{
    color: #534C64;
font-family: Work Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 45px;
padding-bottom: 50px;
}

/*four photos*/
.four-img{
    height: 500px;
}
.tittle{
    text-align: center;
    padding-top: 50px;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.photos{
    width: auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    


}
.conteiner{
    position: relative;
    transform: translate(-50%,0-50%);
}
.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0px;
transition: opacity 0.4s case-in-out;
background-color: line;
cursor: pointer;

}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    align-items: center;
    font-size: 25px;
}

.conteiner:hover .overlay{
    opacity: 0.8;
}


/*forth*/

.forth{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pics{
    display: flex;
    gap: 10px;
}

.more{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 30px;
}

.more:hover{
    border: 1px solid pink;
}
.pics:hover{
    border: 2px solid rgb(240, 70, 175);
  border-radius: 30px;
  background-color: antiquewhite;
}

/*footer*/

.footer-sec{
    width: 100%;
    height: 70%;
    background-color: #0B0223;
text-align: center;
justify-content: center;
}

.last-part{
    text-align: center;
    padding-top: 70px;
}

.logo-tit{
    color: white;
    display: flex;
    padding-left: 45%;
    padding-bottom: 10px;
  
}


.six{
    color: white;
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 35%;
}

.icon{
    color: white;
    padding-top: 10px;


}

.policy{
    color: white;
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 35%;

}

.copy{
    color: white;
    padding-left: 35px;
}








/*media quary*/

@media screen and (max-width: 576px) {
    .nav-conteiner{
       flex-direction: column;
     align-items: center;
    }
    .logo{
        flex-direction: column;
    }
    .nav-item{
        flex-direction: column;

    }
   
    
    .banner-section{
        flex-direction: column;
        padding: 0px;
       
    }
    .banner-section h1{
        font-size: 80px;
    }
    .second-part{
        flex-direction: column;
    }
    .second-tittle{
        flex-direction: column;
    }
 .four-img{
    flex-direction: column;
 }
.photos{
    display: grid;
    grid-template-columns: 1fr;
}
.footer-sec{
    flex-direction: column;
    padding-top: 100px;
}


 
    
}

@media screen and (min-width:576px) and (max-width:960px) {
   
    .nav-conteiner{
        flex-direction: column;
      
     }
     .logo{
        flex-direction: column;
     
    }
     .nav-item{
         flex-direction: column;
 
     }
     .banner-section{
        flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
    }

    .second-part{
        flex-direction: column;
     margin-top: 20px;
    }
    .second-img{
        flex-direction: column;
      
    }
    .second-tittle{
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
    }

    .four-img{
        flex-direction: column;
     }
    .photos{
        display: grid;
        grid-template-columns: 1fr;
    }
    }

  
    

